.patrocinadores{
  position: relative;
  padding-bottom: 5em;
}

.patrocinadores > .decoration1{
  position: absolute;
  top: 0;
  right: 0;
}
.patrocinadores > .decoration2{
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(180deg);
}
.background {
  background-color: #3F37CA;
  width: 80%;           
  max-width: 350px;     
  height: auto;         
  aspect-ratio: 3/1;    
  transform: rotate(170.491deg);
  margin: 5em auto;
  display: flex;        
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.background p{
  color: #FFF;
  text-align: center;
  font-family: "Libre Franklin";
  font-size: 17.006px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.17px;
  transform: rotate(180deg);
  padding-bottom: 15px;
}

.background h1{
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 40.814px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;  
  letter-spacing: -0.408px;
  transform: rotate(180deg);

}

.text{
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
  letter-spacing: -0.16px;
  margin-top: 3em;
}

.logos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
  margin: 2.5em 0;
}

.logos img{
  width: 150px;
  height: auto;
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {
  .background {
    width: 90%;
    aspect-ratio: 3/1;
  }

  .logos img {
    width: 100px; /* logos menores no mobile */
  }

  .patrocinadores > .decoration1,
  .patrocinadores > .decoration2 {
    width: 20%;
  }
}

@media (max-width: 480px) {
  .logos {
    gap: 1.5em;
  }

  .logos img {
    width: 80px;
  }
}
