.card{
  display: flex;
  width: 369px;
  min-height: 565px;
  padding: 33px 24px 24px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
  border: 1px solid;
}

.foto{
  width: 100%;
  min-height: 288px;
}

.azul{
  border-color: #17BFD3;
}

.rosa{
  border-color: #F14D7C;
}

.verde{
  border-color: #45BF76;
}

.laranja{
  border-color: #FE8542;
}

.nome{
  color: var(--Blue-01, #4361EE);
  font-family: "Anonymous Pro";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; 
  letter-spacing: -0.24px;
  padding-left: 20px;
  
}

.descricao{
  color: var(--Azul-escuro, #4828AB);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
  letter-spacing: -0.16px;
}