*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --azul-escuro: #4828AB;
  --verde: #2B784A;
  --verde-bola: #45BF76;
  --azul-ciano: #17BFD3;
  --text-color: #212529;
  --rosa-pink: #F14D7C; 
  --azul2: #0D8391;
  --font-family: 'Poppins', sans-serif;
}